.glitch {
  color: white;
  font-size: var(--fs-800);
  position: relative;
  display: flex;
  opacity: 0;
  width: 0;
  height: 0;
  transform: translateY(100px);
  transition: opacity .1s linear, transform .25s linear;
}

.glitch.active{
  opacity: 1;
  width: auto;
  height: auto;
  transform: translateY(0);
}

@keyframes noise-anim {
  $steps: 15;

  @for $i from 0 through $steps {
    #{percentage($i*(calc(1/$steps)))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 15;

  @for $i from 0 through $steps {
    #{percentage($i*(calc(1/$steps)))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
